#order_detail,td{
	border:1px solid black;
	border-collapse: collapse;

}
#order_header,td{
	border:1px solid black;
	border-collapse: collapse;

}
div{
	margin:10px;
	
}
#ddiv{
	
	margin-bottom:10px;
}
body{
	background-color:#F0FFFF;
}
#header{
		width: 100%;
height: 60px;

border-bottom:1px solid black;

}

#logout{


padding-right: 15px;
float:right;
}
a{
	text-decoration: none;
	color: black;
}